/* Wrap ==================== ==================== ==================== */
.main-wrap {
    height: 100%;
    width: 100%;
}

.main-bg {
    background-image: url('./resource/main_img.jpg');
    animation: linear move 60s infinite;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

@keyframes move {
    0% { background-position: -300px; }
    50% { background-position: -700px; }
    100% { background-position: -300px; }
}

.float-wrap {
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.float-wrap > .title {
    text-shadow: 6px 2px 2px rgb(73, 73, 73);
    font-weight: bold;
    margin-top: 25%;
    font-size: 400%;
    color: white;
}

.float-wrap > .btn-start {
    background-color: aquamarine;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 70%;
    font-size: 200%;
    cursor: pointer;
    padding: 2% 7%;
    color: black;
    bottom: 0;
}

.float-wrap > .btn-start:active {
    background-color: rgb(97, 196, 163);
}





/* Room ==================== ==================== ==================== */
.room-wrap {
    margin-top: 30px;
    height: 520px;
    width: 80%;
}

.room-list {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow-y: scroll;
    height: 450px;
    width: 100%;
}

.room-list::-webkit-scrollbar {
    display: none;
}

.btn-wrap {
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    height: 60px;
    width: 100%;
}

.btn {
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    width: calc(50% - 10px);
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 200%;
    color: white;
    display: flex;
    height: 100%;
}





