/* Wrap ==================== ==================== ==================== */
.main-wrap {
    height: 100%;
    width: 100%;
}

.main-bg {
    background-image: url('./resource/main_img.jpg');
    animation: linear move 60s infinite;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

@keyframes move {
    0% { background-position: -300px; }
    50% { background-position: -700px; }
    100% { background-position: -300px; }
}

.float-wrap {
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.float-wrap > .title {
    color: white;
    font-size: 50px;
}