/* Font =================== =================== =================== */
@font-face {
    font-family: 'Bender';
    src: url('./Font/Jovanny\ Lemonad\ -\ Bender.otf');
}


/* Body =================== =================== =================== */
body {
    -webkit-tap-highlight-color : none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: 'Bender'; 
    user-select: none;
    margin: 0; 
}



/* App =================== =================== =================== */
.App { display: flex; }

.app-side {
    background-color: #E2E2E2;
    width: calc(100vw - 800px);
    height: 100vh;
}

.app-main {
    background-color: white;
    width: 800px;
    height: 100vh;
}


@media (max-width: 800px) {
    .app-side { display: none; }
}