/* Font =================== =================== =================== */
@font-face {
    font-family: 'Bender';
    src: url('./Font/Jovanny\ Lemonad\ -\ Bender.otf');
}


/* Body =================== =================== =================== */
body { margin: 0; font-family: 'Bender'; }



/* App =================== =================== =================== */
.App { display: flex; }

.app-side {
    background-color: #E2E2E2;
    width: calc(100vw - 800px);
    height: 100vh;
}

.app-main {
    background-color: white;
    width: 800px;
    height: 100vh;
}


@media (max-width: 800px) {
    .app-side { display: none; }
}